/* You can add global styles to this file, and also import other style files */
:root{
  --full_width: 100%;
  --app_main_color: #46B68A;
  --app-gray-background:#F4F4F4;
  --icon-size: 80px;

  --gray_fonts_color: #939292;
  --green_fonts_color:#30775D;

}

/*Carousel*/
* {
  box-sizing: border-box;
  letter-spacing: 0.5px;
}
.slider {
    width: 50%;
    margin: 100px auto;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 130px;
  height: 130px;
  margin:0 auto;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: .5;
}
.slick-current {
  opacity: 1;
}
.personal-image-wrapper img{
  border-radius: 250px;
}
.slider {
  margin: 30px auto !important;
  width: 65%;
}
.slick-arrow::before{
  color:white !important;
}
.slick-disabled::before{
  color:var(--app_main_color) !important;
}
/*Carousel end*/

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
  color: var(--gray_fonts_color);
}
h1, h2, h3{
  text-align:center;
  text-transform: uppercase;
  font-weight: 900;
}
h2{
  color: var(--gray_fonts_color);
}
h3{
  color: var(--green_fonts_color);
  font-size:18px;
}
ul li{
  list-style: none;
}
.gray-area{
  background-color: var(--app-gray-background);
}
.single-section-wrapper{
  padding: 85px 5px 15px 5px;
}
.inner-section-wrapper{
  padding: 30px 5px 35px 5px;
}
.short-heading-text{
  padding: 15px 16% 15px 16%;
  text-align: justify;
}
.super-short-heading-text{
  padding: 15px 25% 15px 25%;
  text-align: justify;
}
.single-section-wrapper__items-wrapper a{
  text-decoration:none;
}
.image-card{
  width: 150px;
  margin: 0 auto;
  padding: 30px;
  display: block;
}

.show-menu-background{
  box-shadow: 2px 5px 6px rgba(0,0,0,0.05);
  -webkit-animation-name: fade-in-animation;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  animation-name: fade-in-animation;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation: fade-in-animation 0.5s forwards;
  -webkit-animation: fade-in-animation 0.5s forwards;
}
.hide-menu-background{
  -webkit-animation-name: fade-out-animation;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  animation-name: fade-out-animation;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  /*animation-direction: reverse;*/
  animation: fade-out-animation 0.5s forwards;
  -webkit-animation: fade-out-animation 0.5s forwards;
}
@keyframes fade-out-animation {
  0%  {background-color: rgba(245, 245, 247, 1)}
  100%  {background-color: rgba(245, 245, 247, 0)}
}
@keyframes fade-in-animation {
  0%  {background-color: rgba(245, 245, 247, 0)}
  100%  {background-color: rgba(245, 245, 247, 1)}
}

