button{
    cursor:pointer;
}
h1,h2{
    text-align: center;
}
.emphasis-words{
    background: #f0f1fa;
    padding: 5px;
    color: #717171;
}
.single-contact{
    padding:10px;
    margin:5px;
    border-bottom: 1px solid #f0f1fa;
}
.del-btn{
    border-radius:5px;
    padding:10px;
    background:#f0f1fa;
    transition: 0.3s;
    border:0px;
    margin-left:80%;
}
.del-btn:hover{
    background: #FFB4AA;
}
.popup{
    background: #f0f1fa;
    text-align:center;
    padding:30px;
    text-transform: uppercase;
    border:1px solid #f0f1fa;
}
.empty-block{
    display:block;
}
.selected{
    background: #f8f9ff;
}