ul li{
  text-transform:uppercase;
  cursor:pointer;
  border-right: 1px solid var(--gray_fonts_color);
}
.bottom-nav-link{
  padding: 0.1rem 1rem 0.1rem 1rem;
}
.footer-menu{
  /*float: right;*/
  padding: 30px 5px 50px;
}
.footer-copy{
  float: left;
}

@media screen and ( max-width: 750px ){
  .footer-copy{
    float:none;
  }
}
