<footer>
  <div class="container">

    <nav class="footer-menu navbar-light">
        <span class="footer-copy">&copy;2018 All Rights Reserved</span>
      <ul class="navbar-nav nav nav-pills flex-column flex-sm-row  justify-content-end">
        <li class="nav-item">
          <a class="nav-link bottom-nav-link">services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bottom-nav-link">portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bottom-nav-link">about us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bottom-nav-link">careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bottom-nav-link">contact us</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
