<main class="container-fluid">
  <aside  class="container-fluid sidebar-block">
    <div class="row side-menu">
      <nav class="col-sm-3 col-4 myScrollspy" id="myScrollspy">
          <ul class="nav nav-pills flex-column link-wrapper">
             <li class="nav-item">
              <a class="glass-link" href="{{mainLink}}#security"></a>
              <a class="nav-link" href="#security">QA & Security testing</a>
            </li>
            <li class="nav-item">
              <a class="glass-link" href="{{mainLink}}#degicated_team"></a>
              <a class="nav-link" href="#degicated_team">degicated team</a>
            </li>
            <li class="nav-item">
              <a class="glass-link" href="{{mainLink}}#solutions"></a>
              <a class="nav-link" href="#solutions">solutions</a>
            </li>
          </ul>
        </nav>
    </div>
  </aside>

  <section id="security" class="single-section-wrapper container">
    <!--textarea-->
    <a name="security"></a>
    <article class=" inner-section-wrapper ">
      <h1>QA & Security testing</h1>
      <div class="row">
        <div class="service-image-wrapper col-md-4">
          <img class="service-image-wrapper__main-image" src="../../assets/img/png/qa.png" alt="">
        </div>
        <div class="col-md-4 inner-text-area">
          <p>We make sure that your product seamlessly help your customers with their work and delivers quality customer experiance.
              Beyond that, we guarantee that your software is shielded against any threats, so that your customers have absolutr
              confidence in your products.</p>
        </div>
      </div>
    </article>
  <a name="degicated-team"></a>
    <hr>
    <article id="degicated_team" class="single-section-wrapper inner-section-wrapper ">
        <h1>degicated team</h1>
        <div class="row">
          <div class="service-image-wrapper col-md-4">
            <img class="service-image-wrapper__main-image" src="../../assets/img/png/team.png" alt="">
          </div>
          <div class="col-md-4 inner-text-area">
            <p>With our brave warrior, you will gain an advantage in conquering new territories.
              We will cover any area of expertise you require and provide you support in all your endeavours.
            </p>
          </div>
        </div>
    </article>
    <a name="solutions"></a>
    <hr>
    <article id="solutions" class="single-section-wrapper inner-section-wrapper ">
        <h1>solutions</h1>
        <div class="row">
          <div class="service-image-wrapper col-md-4">
            <img class="service-image-wrapper__main-image" src="../../assets/img/png/444_01.png" alt="">
          </div>
          <div class="col-md-4 inner-text-area">
            <p>We will translate your requests into full-fledged off-the-shelf products that will answer your needs
              and bring you and your customers towards growth.
            </p>
          </div>
        </div>
    </article>
  </section>
</main>

