

.jumbotron{
  background-image: url("../../assets/img/Drakar.jpg");
  background-size: cover;
  min-height: 617px;
  border-radius:0;
  background-attachment: fixed;
  background-repeat:no-repeat;
}
.section-backgound-picture-1{
  background-image: url("../../assets/img/png/background.png");
  background-size: cover;
  background-attachment: fixed;
}
.section-backgound-picture-2{
  background-image: url("../../assets/img/png/1690.png");
  background-size: 110%;
  background-attachment: fixed;
}
.portfolio-backgound-picture-1{
  background-image: url("../../assets/img/png/pexels-photo-374074.jpeg");
  background-size: var(--full_width);
  background-position:center;
}
.portfolio-backgound-picture-2{
  background-image: url("../../assets/img/png/mobileapp-mytrip.jpg");
  background-size: var(--full_width);
  background-position:center;
}
.portfolio-backgound-picture-3{
  background-image: url("../../assets/img/png/laptop-internet-table-109371.jpg");
  background-size: var(--full_width);
  background-position:center;
}
.portfolio-backgound-picture-4{
  background-image: url("../../assets/img/png/mobile-app-design-trends-2017-01.jpg");
  background-size: var(--full_width);
  background-position:center;
}
.gallery-face-1{
  background-position: center;
}
.single-block a{
  text-decoration: none;
}
.media h1{
  width:main-width;
  text-transform: uppercase;
  color:#fff;
  text-align:center;
  width: var(--full_width);
}
.persone-area{
  position: relative;
  z-index: 5;
}
.persone-area h2{
  color:#fff;
}
.technology-block-wrapper__padding-block{
  padding: 10px 0% 10px 5%;
}
.single-block{
  box-sizing: border-box;
  border: 1px solid #bbbbbb4d;
  cursor: pointer;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  box-shadow: 2px 5px 6px rgba(0,0,0,0.05);
}
.single-block:hover{
  background-color: #F5F5F7;
  transform: scale(1.09);
  box-shadow: 2px 5px 6px rgba(0,0,0,0.1);
}
.single-block:hover .image-card{
  transform:scale(1.2) translate(0px,10px);

  transition: 0.3s;

}
.main-list-wrapper{
  display: grid;
  grid-template-columns: [name_1] auto auto auto;
  /*grid-template-rows: 200px 200px;*/
  grid-gap: 25px;
}
.single-section-wrapper__items-wrapper{
  display:grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  height: 585px;
  width: 815px;
  margin: 0 auto;
  cursor: pointer;
}
.single-section-wrapper__items-wrapper a{
  text-decoration:none;
}
.single-items-wrapper p{
  text-decoration:none;
}
.single-items-wrapper{
  transform:translate(0px);
  transition: 0.3s;
  display: grid;
  color:#fff;
  justify-content: center;
  align-content: center;
  height: 260px;
 /* background-position-x: 0px !important;
  background-position-y: 0px !important;*/
}
.single-items-wrapper:hover{
  transform: translate(0, -10px);
  box-shadow: 1px 5px 8px rgba(0,0,0,0.4);
  background-size: 130%;
}
.single-items-wrapper p{
  color:#fff;
  z-index: 2;
  font-weight: 600;
}
.single-items-wrapper__inner-text{
  display:grid;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
}
.single-items-wrapper:hover{
  transform: translate(0, -10px);
  box-shadow: 1px 5px 8px rgba(0,0,0,0.4);
  background-size: 140%;
}
.card-body{
  padding-top: 0px;
  margin-top:0px;
}
.technology-block-wrapper{
  display: grid;
  grid-template-columns: [name_1] auto auto;
  grid-gap: 35px;
  width: 79%;
  margin: 0 auto;
}
.technology-block-wrapper__single-block{
  /*border:1px solid #bbbbbb4d;*/
}
.media{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 480px;
  justify-items: center;
  align-items: center;
}
.media h1{
  z-index: 5;
  margin-left:-200%;
  -webkit-animation-name: main-slog-animation;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-name: main-slog-animation;
  animation-duration: 1s;

  animation-iteration-count: 1;
  animation: main-slog-animation 1s forwards;
  -webkit-animation: main-slog-animation 1s forwards;
  animation-delay: 1s;
}
@keyframes main-slog-animation {
  0% {margin-left: -200%}
  60%{margin-left: 20%}
  80%{margin-left: -2%}
  100%{ margin-left: 0%}
}

.black-cover{
  width:100%;
  display: block;
  position: absolute;
  background: rgba(13, 52, 45, 0.4);
  height:111%;
  z-index: 1;
}
.green-cover{
  width:100%;
  display: block;
  position: absolute;
  background: rgba(70, 182, 138, 0.7);
  height:100%;
  z-index: 1;
}
.dark-cover{
  width:100%;
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height:100%;
  z-index: 1;
}
.top-banner-wrapper{
  overflow: hidden;
  height: 616px;
  display: block;
  position: relative;
}
.tech-list-wrapper li{
  list-style-type: disc;
  color: var(--green_fonts_color);
}
.technology-block-wrapper__image-block ul{
  margin-top: 1rem !important;
}
.technology-block-wrapper__image-block{
  display: grid;
  grid-template-columns: [name_1] auto;
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
}
.technology-block-wrapper__image-size{
  width:var(--icon-size);
}
.technology-block-wrapper__padding-block h3{
  text-align:left;
  padding-left:25px;
  margin-bottom:0px;
}
.linkedin-logo{
  width:50px;
  height:50px;
  background-image: url("../../assets/img/linkedin.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  margin:0 auto;
}
.linkedin-logo:hover{
  background-image: url("../../assets/img/linkedin.svg");
  background-size: 50%;
  background-color: var(--app_main_color);
  transition: 0.3s;
  transform: scale(1.2);
}
.personal-image-wrapper p{
  text-align: center;
  color:#fff;
}
.personal-image-wrapper{
  padding:20px;
}
.gallery-wrapper{
  transform: translate(0px);
}

@media screen and ( max-width: 750px ){
  .jumbotron{
    background-position:center;
  }
  .section-backgound-picture-2{
    background-size: 450%;
    background-attachment: fixed;
    background-position: center;
  }
  .main-list-wrapper{
    grid-template-columns: [name_1] auto;
  }
  .technology-block-wrapper{
    grid-template-columns: [name_1] auto;
    grid-gap: 25px;
    width: 80%;
  }
  .single-section-wrapper__items-wrapper{
    display:grid;
    grid-template-columns: auto;
    height: 80%;
    width: auto;
  }
  .short-heading-text {
    padding: 15px 0% 15px 0%;
    text-align: left;
  }
}
