<section class="top-banner-wrapper">
  <div class="black-cover"></div>
  <section id="main-banner" class="parallax-window jumbotron "  style="margin-bottom: 0px;">
    <div class="container">
        <div class="media">
          <h1>{{mainTitle}}</h1>
        </div>
      </div>
  </section>
</section>
<section  class="single-section-wrapper ">
  <article class="container">
    <h2>Services</h2>
    <ul class="main-list-wrapper inner-section-wrapper">
      <li class="single-block">
       <a href="/services/#security"> <img class="card-img-top image-card" width="100%" src="../../assets/img/shield.svg" alt="">
        <div class="card-body">
          <h3 class="card-title">QA & security<br> testing</h3>
        </div></a>
      </li>
      <li class="single-block">
        <a href="/services/#degicated-team"><img class="card-img-top image-card" width="100%" src="../../assets/img/shield.svg" alt="">
        <div class="card-body">
          <h3 class="card-title">title</h3>
        </div></a>
      </li>
      <li class="single-block">
        <a href="/services/#solutions"><img class="card-img-top image-card" width="100%" src="../../assets/img/shield.svg" alt="">
        <div class="card-body">
          <h3 class="card-title">title</h3>
        </div></a>
      </li>
      <li class="single-block"><img class="card-img-top image-card" width="100%" src="../../assets/img/shield.svg" alt="">
        <div class="card-body">
          <h3 class="card-title">title</h3>
        </div>
      </li>
      <li class="single-block"><img class="card-img-top image-card" width="100%" src="../../assets/img/shield.svg" alt="">
        <div class="card-body">
          <h3 class="card-title">title</h3>
        </div>
      </li>
      <li class="single-block"><img class="card-img-top image-card" width="100%" src="../../assets/img/shield.svg" alt="">
        <div class="card-body">
          <h3 class="card-title">title</h3>
        </div>
      </li>
    </ul>
  </article>
</section>
<section  class="single-section-wrapper section-backgound-picture-1">
    <article class="container">
        <h2>technologies</h2>
        <div class="inner-section-wrapper short-heading-text">
          <p>We participated in wide range of projects in such industries as gambling, healthcare, and fintech. We offer expertise in security testing,
            cloud solutions, as well as custom website and mobile development where we emply a broad set of technologies.</p>
        </div>
        <div class="technology-block-wrapper ">
          <div class="technology-block-wrapper__single-block">
            <div class="row technology-block-wrapper__padding-block">
              <div class="col-md-4 technology-block-wrapper__image-block">
                <img src="../../assets/img/net.svg" class="technology-block-wrapper__image-size" alt="">
              </div>
              <div class="col-md-8 ">
                <h3>.NET platform</h3>
                <ul class="tech-list-wrapper">
                  <li>.NET</li>
                  <li>.NET Core</li>
                  <li>MVC</li>
                  <li>EntiyFramework</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="technology-block-wrapper__single-block">
              <div class="row technology-block-wrapper__padding-block">
                  <div class="col-md-4 technology-block-wrapper__image-block">
                    <img src="../../assets/img/laptop.svg" class="technology-block-wrapper__image-size" alt="">
                  </div>
                  <div class="col-md-8 ">
                    <h3>web</h3>
                    <ul class="tech-list-wrapper">
                      <li>HTML5, CSS, Bootstrap</li>
                      <li>Javascript/TypeScript</li>
                      <li>Angular.js, React.js</li>
                      <li>Node.js</li>
                    </ul>
                  </div>
                </div>
          </div>
          <div class="technology-block-wrapper__single-block">
              <div class="row technology-block-wrapper__padding-block">
                  <div class="col-md-4 technology-block-wrapper__image-block">
                    <img src="../../assets/img/database.svg" class="technology-block-wrapper__image-size" alt="">
                  </div>
                  <div class="col-md-8 ">
                    <h3>data warehouse<br>bi & bigdata</h3>
                    <ul class="tech-list-wrapper">
                      <li>Microsoft AQL Server, MySQL</li>
                      <li>Elasticsearch</li>
                      <li>MVC</li>
                      <li>MongoDB, Hadoop</li>
                    </ul>
                  </div>
                </div>
          </div>
          <div class="technology-block-wrapper__single-block">
              <div class="row technology-block-wrapper__padding-block">
                  <div class="col-md-4 technology-block-wrapper__image-block">
                    <img src="../../assets/img/gear.svg" class="technology-block-wrapper__image-size" alt="">
                  </div>
                  <div class="col-md-8 ">
                    <h3>devops</h3>
                    <ul class="tech-list-wrapper">
                      <li>Jenkins</li>
                      <li>Docker</li>
                      <li>Logstash</li>
                      <li>Kibana</li>
                      <li>GitHub, Bitbucket</li>
                    </ul>
                  </div>
                </div>
          </div>
          <div class="technology-block-wrapper__single-block">
            <div class="row technology-block-wrapper__padding-block">
              <div class="col-md-4 technology-block-wrapper__image-block">
                <img src="../../assets/img/java.svg" class="technology-block-wrapper__image-size" alt="">
              </div>
              <div class="col-md-8 ">
                <h3>java platform</h3>
                <ul class="tech-list-wrapper">
                  <li>Java, JEE, Spring, Hibernate</li>
                  <li>JSF</li>
                  <li>JBoss, Apache Tomcat</li>
                </ul>
              </div>
            </div></div>
          <div class="technology-block-wrapper__single-block">
              <div class="row technology-block-wrapper__padding-block">
                  <div class="col-md-4 technology-block-wrapper__image-block">
                    <img src="../../assets/img/cloud.svg" class="technology-block-wrapper__image-size" alt="">
                  </div>
                  <div class="col-md-8 ">
                    <h3>cloud engineering</h3>
                    <ul class="tech-list-wrapper">
                      <li>HAWS</li>
                      <li>Azure</li>
                      <li>Docker</li>
                    </ul>
                  </div>
                </div>
          </div>
        </div>
    </article>
</section>
<section  class="single-section-wrapper ">
    <article class="container">
      <h2>portfolio</h2>
      <ul class="single-section-wrapper__items-wrapper inner-section-wrapper">
         <a href="/portfolio/#project-1"><li class="single-items-wrapper portfolio-backgound-picture-1">

            <p>Project#1</p>

            <div class="green-cover"></div>

        </li></a>
        <li class="single-items-wrapper portfolio-backgound-picture-2">
            <p>Project#2</p>
            <div class="green-cover"></div>
        <li class="single-items-wrapper portfolio-backgound-picture-3">
            <p>Project#3</p>
            <div class="green-cover"></div>
        </li>
        <li class="single-items-wrapper portfolio-backgound-picture-4">
            <p>Project#4</p>
            <div class="green-cover"></div>
        </li>
      </ul>
    </article>
</section>
<section  class="single-section-wrapper gray-area">
    <article class="container">
      <h2>about us</h2>
      <div class="inner-section-wrapper short-heading-text">
          <p>We are accomplished comrades with over nine years of experience in the industry.
              Helping our clients conquer their markets, expand their business, and deliver quality services to their customers makes us truly happy. When you choose to work
              with us, your success will become our top priority. The values we live by are trust and rtansparency, and expertise and our crystal-clear collaboration process.</p>
      </div>
    </article>
</section>
<section  class="section-backgound-picture-2">
     <section class=" gallery-wrapper">
      <div class="dark-cover"></div>
      <article class="single-section-wrapper  persone-area">
          <h2>our team</h2>
          <section class="center slider">
              <div class="personal-image-wrapper">
                <img src="../../assets/img/photo-01.png">
                <p></p>
                <p>OLEH TARASIUK <br>CEO</p>
                <p></p>
                <a href="https://www.linkedin.com">
                  <div class="linkedin-logo"></div>
                </a>
              </div>
              <div class="personal-image-wrapper">
                <img src="../../assets/img/photo-01.png">
                <p></p>
                <p>OLEH TARASIUK <br>CEO</p>
                <p></p>
                <a href="https://www.linkedin.com">
                  <div class="linkedin-logo"></div>
                </a>
              </div>
              <div class="personal-image-wrapper">
                <img src="../../assets/img/photo-01.png">
                <p></p>
                <p>OLEH TARASIUK <br>CEO</p>
                <p></p>
                <a href="https://www.linkedin.com">
                  <div class="linkedin-logo"></div>
                </a>
              </div>
              <div class="personal-image-wrapper">
                  <img src="../../assets/img/photo-01.png">
                  <p></p>
                  <p>OLEH TARASIUK <br>CEO</p>
                  <p></p>
                  <a href="https://www.linkedin.com">
                  <div class="linkedin-logo"></div>
                </a>
                </div>
            </section>
      </article>
    </section>
</section>
<section  class="single-section-wrapper ">
    <article class="container">
      <h2>careers</h2>
      <div class="inner-section-wrapper super-short-heading-text">
          <p>We a hiring! Pease do not hestitate to contact us regarding any questions you might have.</p>
      </div>
    </article>
</section>
<app-contact-us></app-contact-us>
