
.service-image-wrapper__main-image{
  width:100%;
  margin:0 auto;
}
.service-textarea{
  text-transform: uppercase;
  font-weight:900;
  text-align:center;
  padding:20px 0% 30%;
  font-size: 3em;
}
.inner-section-wrapper{
  padding-right:50px;
  padding-left:50px;
  padding-top:100px;
  padding-bottom:100px;
}
/*.inner-section-wrapper p{
  color: var(--app_main_color);
}*/
.inner-text-area{
  display: grid;
  justify-content: center;
  align-content: center;
}
.side-menu{
  position: fixed;
  padding-top:200px;
}
.glass-link{
  background-color: rgba(0, 0, 0, 0.02);
  width: 91px;
  min-height: 31px;
  display: block;
  position: absolute;
}
.link-wrapper a{
  font-size: 10px;
  min-width: 150px;
}
.myScrollspy{
  margin-left: -35px;
}
.nav-item a{
  color:var(--app_main_color);
}
.nav-link.active{
  color: #fff !important;
  background-color:var(--app_main_color);
}
.sidebar-block{
  display:block;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
.article-emphasize{
  color:var(--app_main_color);
}
