
<main class="container-fluid">
    <aside  class="container-fluid sidebar-block">
      <div class="row side-menu">
        <nav class="col-sm-3 col-4 myScrollspy" id="myScrollspy">
            <ul class="nav nav-pills flex-column link-wrapper">
               <li class="nav-item">
                <a class="glass-link" href="{{mainLink}}#security"></a>
                <a class="nav-link" href="#project-1">project#1</a>
              </li>
              <li class="nav-item">
                <a class="glass-link" href="{{mainLink}}#degicated_team"></a>
                <a class="nav-link" href="#degicated_team">project#2</a>
              </li>
              <li class="nav-item">
                <a class="glass-link" href="{{mainLink}}#solutions"></a>
                <a class="nav-link" href="#solutions">project#3</a>
              </li>
            </ul>
          </nav>
      </div>
    </aside>

    <section id="project-1" class="single-section-wrapper container">
      <!--textarea-->
      <a name="project-1"></a>
      <article class=" inner-section-wrapper ">
        <h1>Project#1</h1>
        <div class="row">
          <div class="service-image-wrapper col-md-6">
            <img class="service-image-wrapper__main-image" src="../../assets/img/png/pexels-photo-374074.jpeg" alt="">
          </div>
          <div class="col-md-6 inner-text-area">
            <p>This internal web application is used by an oil company to store and acess data about the state of oil rigs and underwater pipelines. The app
                is built around a map view of the sea shelf with overlaid information about objects of interest. User can browse photo and videos of inspection
                results and view PDF documents in a browser</p>
                <br>
                <p>The front-end of the project was created using  Angular following Google Material Design guidelines. We used Node.js, Express.js and MongoDB
                for the backend. The app is hosted on Amazon AWS with static data stored on Amazon S3.</p>
                <p><span class="article-emphasize">Customer:</span> Name</p>
                <p><span class="article-emphasize">Technologies:</span> Name</p>

          </div>
        </div>
      </article>
    <a name="degicated-team"></a>
      <hr>
    </section>
  </main>
