img {
  width: 130px;
  height: 50px;
}
.green-button{
  background: var(--app_main_color);
  color:#fff !important;
  border-radius:50px;
}
.white-button{
  background: #ffffff;
  color: rgba(0,0,0,.7) !important;
  border-radius: 50px;
}
@media screen and ( max-width: 750px ){
  .nav-link{
    text-align:center;
  }
}

