
<nav class={{showstate}} detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="200" [topOffset]="200">
  <div class="container">
      <a class="navbar-brand"  href="/" (click)="menuFadeOut()">
          <img src={{logotype}} width="30" height="30" alt="">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav nav-pills flex-column flex-sm-row" style="width:100%">
          <li class="nav-item flex-sm-fill text-sm-center">
            <a class="nav-link" href="/services" (click)="menuFadeIn()">Services <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item flex-sm-fill text-sm-center">
            <a class="nav-link" href="/portfolio" (click)="menuFadeIn()" >Portfolio</a>
          </li>
          <li class="nav-item flex-sm-fill text-sm-center">
            <a class="nav-link" (click)="menuFadeIn()" href="#">About Us</a>
          </li>
          <li class="nav-item flex-sm-fill text-sm-center">
            <a class="nav-link " href="/careers" (click)="menuFadeIn()" >Careers</a>
          </li>
          <li class="nav-item flex-sm-fill text-sm-center ">
              <a class={{buttonClass}} href="#contact-us" (click)="menuFadeIn()">Contact Us</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>




