		:root{
			--absolute-height:100vh;
			--absolute-width:100vw;
			--screen-width: 1366px;
			--margin-center:0 auto;

			--enemy-size:50pt;
		}
		.my-bullet{
			width:50pt;
			height:3pt;
			border-radius: 5pt;
			border:2pt solid #00FF00;
			background-color:#FFF;
			display:block;
			position:absolute;
			box-shadow: 0 0 10pt rgba(0,255,0,0.5);
			-webkit-animation-name: my_bullets_animation; 			
		    -webkit-animation-duration: 5s; 
		    -webkit-animation-delay: 0s; 
		    animation-name: my_bullets_animation;
		    animation-duration:5s;
		    animation-delay: 0s;
		    animation-iteration-count: 1;
		    animation-timing-function:linear;
		    z-index: 90;

		}
		@keyframes my_bullets_animation{							
		    	
		    100% {margin-left:2192pt;}
		}
		.enemy-bullets{
			width:50pt;
			height:3pt;
			border-radius: 5pt;
			border:2pt solid #FF0000;
			background-color:#FFF;
			display:block;
			position:absolute;
			box-shadow: 0 0 10pt rgba(255,0,0,0.5);
			-webkit-animation-name: enemy_bullets_animation; 			
		    -webkit-animation-duration: 7s; 
		    -webkit-animation-delay: 0s; 
		    animation-name: enemy_bullets_animation;
		    animation-duration:7s;
		    animation-delay: 0s;
		    animation-iteration-count: 1;
		    animation-timing-function:linear;
		    z-index: 90;
		}
		@keyframes enemy_bullets_animation{							
		    	
		    100% {margin-left:-1192pt;}
		}
		.enemy-bullets-top-direction{
			width:10pt;
			height:10pt;
			border-radius: 50pt;
			border:2pt solid #FF0000;
			background-color:#FFF;
			display:block;
			position:absolute;
			box-shadow: 0 0 10pt rgba(255,0,0,0.5);
			-webkit-animation-name: enemy_bullets_animation_top; 			
		    -webkit-animation-duration: 9s; 
		    -webkit-animation-delay: 0s; 
		    animation-name: enemy_bullets_animation_top;
		    animation-duration:9s;
		    animation-delay: 0s;
		    animation-iteration-count: 1;
		    animation-timing-function:linear;
		    z-index: 90;
		}
		@keyframes enemy_bullets_animation_top{							
		    	
		    100% {margin-left:-1192pt;margin-top:-1000pt;}
		}
		.enemy-bullets-bottom-direction{
			width:10pt;
			height:10pt;
			border-radius: 50pt;
			border:2pt solid #FF0000;
			background-color:#FFF;
			display:block;
			position:absolute;
			box-shadow: 0 0 10pt rgba(255,0,0,0.5);
			-webkit-animation-name: enemy_bullets_animation_bottom; 			
		    -webkit-animation-duration: 9s; 
		    -webkit-animation-delay: 0s; 
		    animation-name: enemy_bullets_animation_bottom;
		    animation-duration:9s;
		    animation-delay: 0s;
		    animation-iteration-count: 1;
		    animation-timing-function:linear;
		    z-index: 90;
		}
		@keyframes enemy_bullets_animation_bottom{							
		    	
		    100% {margin-left:-1192pt;margin-top:2000pt;}
		}
		.space_ship_block{
			width: var(--enemy-size);
			height: 35pt;
			display:block;
			position:absolute;
			background-image: url("../img/space_ship_move.png"); /*space_ship.png*/
			background-size: 100%;
			background-repeat: no-repeat;
			background-position-y: -171pt;/**/

			
			z-index: 100;
		}
		.ship_rotate_top{
			-webkit-animation-name: top_rotate ; 			
		    -webkit-animation-duration: 1s; 
		    -webkit-animation-delay: 0s; 
		    animation-name: top_rotate;
		    animation-duration:1s;
		    animation-delay: 0s;
		    animation-iteration-count: 1;
		     animation-timing-function:steps(1, end);
		}
		@keyframes top_rotate{							
		    0%{background-position-y: -171pt;}	
		    10%{background-position-y: -136pt;}
		    20%{background-position-y: -101pt;}
		    30%{background-position-y: -66pt;}
		    40%{background-position-y: -31pt;}
		    50%{background-position-y: 0pt;}
		    60% {background-position-y: -31pt;}
		    70% {background-position-y: -66pt;}
		    80%{background-position-y: -101pt;}
		    90%{background-position-y: -136pt;}
		    100% {background-position-y: -171pt;}
		}
		.ship_rotate_bottom{
			-webkit-animation-name: bottom_rotate ; 			
		    -webkit-animation-duration: 1s; 
		    -webkit-animation-delay: 0s; 
		    animation-name: bottom_rotate;
		    animation-duration:1s;
		    animation-delay: 0s;
		    animation-iteration-count: 1;
		     animation-timing-function:steps(1, end);

		}
		@keyframes bottom_rotate{							
		    0%{background-position-y: -171pt;}	
		    10%{background-position-y: -206pt;}
		    20%{background-position-y: -241pt;}
		    30%{background-position-y: -276pt;}
		    40%{background-position-y: -311pt;}
		    50%{background-position-y: -346pt;}
		    60% {background-position-y: -311pt;}
		    70% {background-position-y: -276pt;}
		    80%{background-position-y: -241pt;}
		    90%{background-position-y: -206pt;}
		    100% {background-position-y: -171pt;}
		}
		.enemy_block{
			width: var(--enemy-size);
			height: var(--enemy-size);
			display:block;
			position:absolute;
			background-image: url("../img/enemy_ship.png");
			background-size: 100%;
			background-repeat: no-repeat;
			z-index: 100;
		}
		.enemy_block_1{
			width: var(--enemy-size);
			height: var(--enemy-size);
			display:block;
			position:absolute;
			background-image: url("../img/enemy_ship_2.png");
			background-size: 100%;
			background-repeat: no-repeat;
			z-index: 100;
		}
		.enemy_block_1_hit_1{
			width: var(--enemy-size);
			height: var(--enemy-size);
			display:block;
			position:absolute;
			background-image: url("../img/enemy_ship-2_hit_1.png");
			background-size: 100%;
			background-repeat: no-repeat;
			z-index: 100;
		}
		.enemy_block_1_hit_2{
			width: var(--enemy-size);
			height: var(--enemy-size);
			display:block;
			position:absolute;
			background-image: url("../img/enemy_ship-2_hit_2.png");
			background-size: 100%;
			background-repeat: no-repeat;
			z-index: 100;
		}
		.enemy_first{
			width:var(--enemy-size);
			height:var(--enemy-size);
			display:block;
			position:absolute;
			background-image: url("../img/ship3.png");
			background-size: 100%;
			background-repeat: no-repeat;
			z-index: 100;
		}
		.enemy_boss_first{
			width: 170px;
			height: 170px;
			display:block;
			position:absolute;
			background-image: url("../img/ship4.png");
			background-size: 100%;
			background-repeat: no-repeat;
			z-index: 100;
		}
		.enemy_boss{
			width: 206px;
			height: 242px;
			display:block;
			position:absolute;
			background-image: url("../img/ship3.png");
			background-size: 100%;
			background-repeat: no-repeat;
			z-index: 100;
		}
		.life{
			width:30px;
			height:30px;
			background-image: url("../img/ruby.png");
			float:left;
			margin-top:15px;
			background-size: 100%;
			background-repeat:no-repeat;
			z-index: 120;
		}
		.extra_life{
			width:30px;	
			height:30px;
			display:block;
			position:absolute;
			background-image: url("../img/ruby.png");
			float:left;
			background-size: 100%;
			background-repeat:no-repeat;
			z-index: 120;
			-webkit-animation-name: life_move; 			
		    -webkit-animation-duration: 7s; 
		    -webkit-animation-delay: 0s; 
		    animation-name: life_move;
		    animation-duration:7s;
		    animation-delay: 0s;
		    animation-iteration-count: 1;
		    animation-timing-function:linear;
		    z-index: 90;
		}
		@keyframes life_move{							
	
		    100% {margin-left:-1492px;}
		}

		.score{
			padding:10px;
			font-size:20px;
			color:#fff;
			font-weight:bold;
			float:left;
			position: relative;
			z-index: 1000;
		}
		.life_container{
			position: relative;
			z-index: 1000;
		}
		.none{
			display: none;
		}
		.block{
			display:block;
		}
		.flame_block{
			width: 80pt; /*54*/
			height: 90pt; /*70*/
			display: block;
			position: absolute;
			background-image: url("../img/explosion.png");
			background-size: 3192pt;
			background-repeat: no-repeat;
			-webkit-animation-name: flame_animation; 			
		    -webkit-animation-duration: 2s; 
		    -webkit-animation-delay: 0s; 
		    animation-name: flame_animation;
		    animation-duration:2s;
		    animation-delay: 0s;
		    animation-iteration-count: 1;
		    animation-timing-function:steps(22, end);
			animation-direction:reverse;
			z-index: 120;

		}
		@keyframes flame_animation{							
		    0%   {background-position-x:0pt; }  			
		    100% {background-position-x:-3192pt;}
		}
		.main-banner_start{
			width:var(--screen-width);
			height:var(--absolute-height);
			background-image:url("../img/vhoa0.jpg");  /* абсолюте посилання на розміщення зображення з інтернету, також зображення може розміщатись з папки з сайтом:   "image.jpg" , або якщо є папка img:     "img/image.jpg"*/
			/*background-repeat:no-repeat;   вказує щоб зображення не повторялось */
			background-size: cover;    /* вказує щоб зображення заповняло весь простір в об'єкті*/
			background-position-x: 12px;   /* зсуває зображення по довжині*/
			background-position-y: 58px;   /* зсуває зображення по висоті*/
			background-position: bottom;   /* центрує зображення по нижній частині, відміняє інші background-position, background-position-x/y */
			cursor: none;   /* Визначаємо курсор, має бути тільки з розширенням .cur  робляться іконки і курсори в спеціальній програмі AWicons Pro*/ 
			background-attachment: fixed;   /* задній фон елементу завжди прикріплений */
			overflow: hidden;  /* значення яке невідображає елементи які виходять за межі блоку */
			/*margin: var(--margin-center);*/
		}
		.main-banner_a{
			width:var(--screen-width);
			height:var(--absolute-height);
			background-image:url("../img/7854261f2e949b3ca307560bc271a86e1971eae3.png");  /* абсолюте посилання на розміщення зображення з інтернету, також зображення може розміщатись з папки з сайтом:   "image.jpg" , або якщо є папка img:     "img/image.jpg"*/
			/*background-repeat:no-repeat;   вказує щоб зображення не повторялось */
			background-size: cover;    /* вказує щоб зображення заповняло весь простір в об'єкті*/
			background-position-x: 12px;   /* зсуває зображення по довжині*/
			background-position-y: 58px;   /* зсуває зображення по висоті*/
			background-position: bottom;   /* центрує зображення по нижній частині, відміняє інші background-position, background-position-x/y */
			cursor: none;   /* Визначаємо курсор, має бути тільки з розширенням .cur  робляться іконки і курсори в спеціальній програмі AWicons Pro*/ 
			background-attachment: fixed;   /* задній фон елементу завжди прикріплений */
			overflow: hidden;  /* значення яке невідображає елементи які виходять за межі блоку */
			/*margin: var(--margin-center);*/
		}
		.main-banner_b{
			width:var(--screen-width);
			height:var(--absolute-height);
			background-image:url("../img/background_2.jpg");  /* абсолюте посилання на розміщення зображення з інтернету, також зображення може розміщатись з папки з сайтом:   "image.jpg" , або якщо є папка img:     "img/image.jpg"*/
			/*background-repeat:no-repeat;   вказує щоб зображення не повторялось */
			background-size: cover;    
			background-position-x: 12px;   
			background-position-y: 58px;  
			background-position: bottom;   
			cursor: none; 
			background-attachment: fixed;   
			overflow: hidden; 
			/*margin: var(--margin-center);*/
		}
		.main-banner_c{
			width:var(--screen-width);
			height:var(--absolute-height);
			background-image:url("../img/back_5.png");  
			
			background-size: cover;    
			background-position-x: 12px;   
			background-position-y: 58px;  
			background-position: bottom;   
			cursor: none; 
			background-attachment: fixed;   
			overflow: hidden; 
			/*margin: var(--margin-center);*/
		}
		.main-banner_d{
			width:var(--screen-width);
			height:var(--absolute-height);
			background-image:url("../img/cover_image.png");  
			background-size: cover;    
			background-position-x: 12px;   
			background-position-y: 58px;  
			background-position: bottom;   
			cursor: none;
			background-attachment: fixed;   
			overflow: hidden; 
			/*margin: var(--margin-center);*/
		}
		.main-banner_e{
			width:var(--screen-width);
			height:var(--absolute-height);
			background-image:url("../img/back_7.jpg");  
			background-size: cover;    
			background-position-x: 12px;   
			background-position-y: 58px;  
			background-position: bottom;   
			cursor: none;
			background-attachment: fixed;   
			overflow: hidden;
			/*margin: var(--margin-center); */
		}
		.main-banner_f{
			width:var(--screen-width);
			height:var(--absolute-height);
			background-image:url("../img/mars_city_a.png");  
			background-size: cover;    
			background-position-x: 12px;   
			background-position-y: 58px;  
			background-position: top;   
			cursor: none; 
			background-attachment: fixed;   
			overflow: hidden;
			/*margin: var(--margin-center); */
		}
		.main-banner_g{
			width:var(--screen-width);
			height:var(--absolute-height);
			background-image:url("../img/background_nebula.png");  
			background-size: cover;    
			background-position-x: 12px;   
			background-position-y: 58px;  
			background-position: bottom;   
			cursor: none;
			background-attachment: fixed;   
			overflow: hidden;
			/*margin: var(--margin-center); */
		}
		.main-banner_h{
			width:var(--screen-width);
			height:var(--absolute-height);
			background-image:url("../img/back_6.jpg");  
			background-size: cover;    
			background-position-x: 12px;   
			background-position-y: 58px;  
			background-position: bottom;   
			cursor: none;   
			background-attachment: fixed;   
			overflow: hidden; 
			/*margin: var(--margin-center);*/
		}
		.main-banner_i{
			width:var(--screen-width);
			height:var(--absolute-height);
			background-image:url("../img/bg.gif");  
			background-size: cover;    
			background-position-x: 12px;   
			background-position-y: 58px;  
			background-position: bottom;   
			cursor: none;
			background-attachment: fixed;   
			overflow: hidden; 
			/*margin: var(--margin-center);*/
		}
		.main-banner_j{
			width:var(--screen-width);
			height:var(--absolute-height);
			background-image:url("../img/bg.gif");  
			background-size: cover;    
			background-position-x: 12px;   
			background-position-y: 58px;  
			background-position: bottom;   
			cursor: none;
			background-attachment: fixed;   
			overflow: hidden; 
			/*margin: var(--margin-center);*/
		}
		.glass{
			width:var(--screen-width);
			position: absolute;
			height: var(--absolute-height);
		}
		.earth_view{
			position: absolute;
			background-image: url("../img/earth.png");
			width: 130vw;
			height: 100vh;
			background-size:100%;
			background-repeat: no-repeat;
			z-index: 10;
			-webkit-animation-name: palnet_a_anim; 			
		    -webkit-animation-duration: 85s; 
		    -webkit-animation-delay: 0s; 
		    animation-name: palnet_a_anim;
		    animation-duration:85s;
		    animation-delay: 0s;
		    animation-iteration-count: 1;
		    background-position-y:bottom;
		   /*
		    animation-timing-function:linear;*/
			z-index: 20;

		}
		@keyframes palnet_a_anim{							
		    0%   {background-position-x: 130vw; background-size:70%;}  			
		    100% {background-position-x:-40vw;background-size:100%;}
		}
		.mars_view{
			position: absolute;
			background-image: url("../img/mars.png");
			width: 130vw;
			height: 100vh;
			background-size:100%;
			background-repeat: no-repeat;
			z-index: 10;
			-webkit-animation-name: palnet_b_anim; 			
		    -webkit-animation-duration: 185s; 
		    -webkit-animation-delay: 0s; 
		    animation-name: palnet_b_anim;
		    animation-duration:185s;
		    animation-delay: 0s;
		    animation-iteration-count: 1;
		    background-position-y:bottom;
		   /*
		    animation-timing-function:linear;*/
			z-index: 20;

		}
		@keyframes palnet_b_anim{							
		    0%   {background-position-x: 430vw; background-size:90%;}  			
		    100% {background-position-x:-60vw;background-size:100%;}
		}
		.saturn_view{
			position: absolute;
			background-image: url("../img/saturn.png");
			width: 130vw;
			height: 100vh;
			background-size:110%;
			background-repeat: no-repeat;
			z-index: 10;
			-webkit-animation-name: palnet_c_anim; 			
		    -webkit-animation-duration: 85s; 
		    -webkit-animation-delay: 0s; 
		    animation-name: palnet_c_anim;
		    animation-duration:85s;
		    animation-delay: 0s;
		    animation-iteration-count: 1;
		    background-position-y:bottom;
		   /*
		    animation-timing-function:linear;*/
			z-index: 20;

		}
		@keyframes palnet_c_anim{							
		    0%   {background-position-x: 180vw; background-size:90%;}  			
		    100% {background-position-x:-40vw;background-size:110%;}
		}
		.planet_view{
			position: absolute;
			background-image: url("../img/planet.png");
			width: 100vw;
			height: 100vh;
			background-size:110%;
			background-repeat: no-repeat;
			z-index: 10;
			-webkit-animation-name: palnet_d_anim; 			
		    -webkit-animation-duration: 95s; 
		    -webkit-animation-delay: 0s; 
		    animation-name: palnet_d_anim;
		    animation-duration:95s;
		    animation-delay: 0s;
		    animation-iteration-count: 1;
		    background-position-y:bottom;
		   /*
		    animation-timing-function:linear;*/
			z-index: 20;

		}
		@keyframes palnet_d_anim{							
		    0%   {background-position-x: 270vw; background-size:70%;}  			
		    100% {background-position-x:-70vw;background-size:110%;}
		}
		@media screen and (max-width: 1200px){
			.main-banner_a, .main-banner_b, .main-banner_c, .main-banner_d, .main-banner_e, .main-banner_f, .main-banner_h, .main-banner_i, .main-banner_j{
				width:100%;
			}
		}