	
/* DOM  Document Object Model  Об'єктна модель документу*/
	*{		/* цей селектор приміняє стилі до всієї сторінки*/
		font-family: roboto,sans-serif;   /* стиль шрифта*/
	}
	body{
		/*filter: blur(5px);
		filter: hue-rotate(90deg);*/   /* фільтри приміняються для графічних маніпуляцій вмістом елементів */
		margin:0;  /* у всьому документі з самого початку є відступи з країв, ця опція відміняє їх*/
		background: linear-gradient(#000, #0a001f); /* фон лінійна розтяжка кольорів від 1 до 2 */
	}
	h1, h2, h3, h4, h5, h6{
		color:#fff;
	}
	hr{
		width:60%;
		height:4px;
		background-color: #D83800;
		border:0;

	}
	.clear{
		clear:both;      /* очищення від властивості float тому що нижні блоки будуть ставати поряд з блоком який має стиль float*/
	}
		.main-banner{
			width:1366px;
			height:100vh;
			background-image:url("../img/vhoa0.jpg");  /* абсолюте посилання на розміщення зображення з інтернету, також зображення може розміщатись з папки з сайтом:   "image.jpg" , або якщо є папка img:     "img/image.jpg"*/
			/*background-repeat:no-repeat;   вказує щоб зображення не повторялось */
			background-size: cover;    /* вказує щоб зображення заповняло весь простір в об'єкті*/
			background-position-x: 12px;   /* зсуває зображення по довжині*/
			background-position-y: 58px;   /* зсуває зображення по висоті*/
			background-position: bottom;   /* центрує зображення по нижній частині, відміняє інші background-position, background-position-x/y */
			cursor: url("../img/cursor_2.cur"), auto;   /* Визначаємо курсор, має бути тільки з розширенням .cur  робляться іконки і курсори в спеціальній програмі AWicons Pro*/ 
			background-attachment: fixed;   /* задній фон елементу завжди прикріплений */
			overflow: hidden;  /* значення яке невідображає елементи які виходять за межі блоку */
			/*margin:0 auto;*/
		}
		
		.banner-text-area{
			display:block;
			margin:0 auto;
			text-align:center;
			padding-top: 50px;
			z-index: 15;
			position:relative;
		}
		.main-logo{
			width:20%;
			height:19vh;   /* vh - VerticalHeight вертикальна висота від розміру дисплею */
			background-image: url("../img/logo-half-white_1.png");  /* зображення лого, використовується розширення PNG тільки в ньому може бути прозорий фон*/
			background-repeat:no-repeat;
			background-position: center;    /* розташування самого зображення по центру блоку*/
			background-size:contain;     /* вказує що зображення вміщається повністю в блок */
			margin: 0 auto;

		}
		.dark-glass{
			width:1366px;
			height:100vh;
			position:relative;
			display:block;
			background-color:rgba(0, 0, 50, 0.3);
			height: inherit;   /* значення запозичення висоти в батьківського блоку div */
			position:absolute;
			z-index: 10;  /* параметр який керує розміщеняням елементу в видимій зоні оже бути любі значення від 0-нескінченності  чим вище значення тим об'єкт буде вище над іншими елементами з меншим значеннями z-index */
			overflow:hidden;
		}
		.main-header-text-area{
			display:block;
			margin:0 auto;
			padding: 45px 0px 0px 0px;   /* внутрішній відступ 4 параметра  верх, право, низ, ліво*/
		}
		.large-text{
			font-weight: bolder; 
			font-size:63px;
			color:#fff;
		}
		.small-text{
			font-size:63px;
			color:#fff;
			font-weight: lighter;  /*робить текст тонким*/
		}
		.slogan-a{
			color:#fff;
			font-size:28px;
		}
		

		.background_animation{								/* клас анімації*/
		    -webkit-animation-name: back_side_anim; 			/*  -webkit   - це вказівник щоб інші браузери могли розпізнавати параметри*/
		    -webkit-animation-duration: 20s; 
		    -webkit-animation-delay: 0s; 
		    animation-name: back_side_anim;					/* підключення певної анімації по її назві */
		    animation-duration:20s;							/* вказівник скільки триватиме анімація в секундах що = 100% */
		    animation-delay: 0s;							/* вказівник наскільки відстає анімація після запуску сторінки*/
		    animation-iteration-count: infinite;			/* вказівник скільки разів буде тривати анімація */
		    animation-timing-function:linear;				/* вказівник яким чином вона буде протікати лінійно чи поступально */
		    animation-direction:reverse;
		    /*position: relative;*/
		}

		@keyframes back_side_anim {							/* сама назва анімації  */
		    0%   {background-position-x:0vw; }  			/* ключові точки де можна змінювати стилі можна вносити дуже багато стилів і таким чином анімувати */
		    100% {background-position-x:99vw;}
		}
		.space_background_animation{
			-webkit-animation-name: space_back_anim; 			/*  -webkit   - це вказівник щоб інші браузери могли розпізнавати параметри*/
		    -webkit-animation-duration: 40s; 
		    -webkit-animation-delay: 0s; 
		    animation-name: space_back_anim;					/* підключення певної анімації по її назві */
		    animation-duration:40s;							/* вказівник скільки триватиме анімація в секундах що = 100% */
		    animation-delay: 0s;							/* вказівник наскільки відстає анімація після запуску сторінки*/
		    animation-iteration-count: infinite;			/* вказівник скільки разів буде тривати анімація */
		    animation-timing-function:linear;				/* вказівник яким чином вона буде протікати лінійно чи поступально */
		    animation-direction:reverse;
		}
		@keyframes space_back_anim {							/* сама назва анімації  */
		    0%   {background-position-x:0vw; }  			/* ключові точки де можна змінювати стилі можна вносити дуже багато стилів і таким чином анімувати */
		    100% {background-position-x:99vw;}
		}
@media screen and (max-width: 1200px){
	.main-banner{
		width:100%;
		/*margin:0;*/
	}
	.dark-glass{
		width:100%;
	}
}
		




		

