.contact-wrapper{
  background: var(--app_main_color);
}
input, textarea{
  color:#fff;
  background:none;
  border:none;
  font-size: 12px;
  border-bottom:1px solid #fff;
  padding: 9px;
}
label{
  border:none;
  padding:14px;
  color:#fff;
  font-size:12px;
}
textarea{
  /*height:150px;*/
  min-height:100px;
  max-height:150px;
  color:#fff;
}
.input-type-1{
  margin:15px;
  width: 45%;
}
.input-type-2{
  margin:15px;
  width: 95%;
}
.button-type{
  padding:15px;
  background:#fff;
  color:var(--app_main_color);
  text-transform: uppercase;
  margin-left:15px;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}
.button-type:hover{
  transform: scale(1.1);
}
.form-information-area{
  position: relative;
  padding-right: 154px;
}
.form-social{
  display:grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-content: center;/**/

  /*flex-wrap: nowrap;
  justify-content:space-around;*/
  /*display: flex;
  justify-content: center;
  flex-wrap: wrap;*/
}
.form-inner-contacts{
  position: absolute;
  bottom: 0;
  left: 0;
  grid-gap:15px;
}
.form-large-image{
  width: 50px;
  padding: 7px;
  cursor:pointer;
  transition: 0.2s;
}
.form-large-image:hover{
  transform:scale(1.2);
}
.form-small-image{
  width: 27px;
  padding: 4px;
  padding-left:0px;
  padding-right: 12px;
}
@media screen and ( max-width: 750px  ){
  .form-information-area{
    padding-right: 0px;
  }
  .form-address-wrapper span{
    font-size:10px;
  }
  .form-inner-contacts{
    position: relative;
  }
}

