
<section  class="single-section-wrapper gray-area">
  <a name="contact-us" ></a>
  <article class="container">
    <h2>Contact us</h2>
 <div class="row inner-section-wrapper">
   <div class="col-md-5 col-sm-12 form-information-area">
     <p>
        Thinking on now to move forward with you business? Drop us a line, become the first on your market,
        and leave competitors behind.<br><br>

        Hesitating which course to select for your company? Reach out, and we will help you navigate through the
        seas of the latest innovations and trends.
     </p>
     <div class="form-inner-contacts col-md-12 form-information-area">
        <address classs="form-address-wrapper">
          <img class="form-small-image" src="../../assets/img/location].svg" alt="location"><span>CityStrit St, 01, Lviv, Ukraine</span><br>
          <img class="form-small-image" src="../../assets/img/phone.svg" alt="phone"><span>+380 63 000 00 00</span><br>
          <img class="form-small-image" src="../../assets/img/email.svg" alt="mail"><span>info@vikings.solutions</span><br>
          <div class=" col-md-4 form-social"></div>
            <a href="#"><img class="form-large-image" src="../../assets/img/linkedin-incircle.svg" alt="linkedin"></a>
            <a href="#"><img class="form-large-image" src="../../assets/img/facebook-incircle.svg" alt="facebook"></a>
            <a href="#"><img class="form-large-image" src="../../assets/img/-google-plus-incircle.svg" alt="g-pluss"></a>
        </address>
     </div>
   </div>
   <div class="col-md-7 col-sm-12">
     <form class="contact-wrapper">
       <div class="inner-section-wrapper">
          <input class="input-type-1" type="text" placeholder="Full Name">
          <input class="input-type-1" type="text" placeholder="Email">
          <input class="input-type-2" type="text" placeholder="Company">
          <textarea class="input-type-2" name="textarea" id="textarea" cols="30" rows="10" placeholder="Message"></textarea>
          <input class="button-type" type="button" value="send message">
       </div>
     </form>
   </div>
 </div>
  </article>
</section>

