:root{
    --box_fade: .9;
}
body{
    background: #000;
}
.cube{
    position:absolute;
    transform-style: preserve-3d;
    transform: rotateY(-3deg) rotateX(31deg) rotateZ(0deg);
}
.main-wrapper{
    perspective: 1000px;
    top: 50%;
    left: 30%;
    position: absolute;
}
.cube-side{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    width:300px;
    height:300px;
    background:rgba(255, 20, 24, .3);
    border:1px solid #515151;
    box-sizing: border-box;
    /*top: 0%; left: 0%;*/
    transform-style: preserve-3d;
    position: absolute;
    color:#fff;
    font-size:25px;
    text-transform: uppercase;
    font-weight:900;
}
.core-module{
    position:  absolute;
    transform-style: preserve-3d;
    width:2px;
    height: 2px;
    background: #000;
    top: 0px;
    left: 0px;
}
.side-1{
    background:rgba(255, 76, 76, var(--box_fade));
    transform: rotateX(0deg) translate3d(-150px,-150px,150px);
    /*top: -300px; left: -150px;*/
}
.side-2{
    background:rgba(255, 76, 255, var(--box_fade));
    transform: rotateX(270deg) translate3d(-150px,0px,0px);
   /* top: 0px; left: 0px;*/
}
.side-3{
    background:rgba(76, 255, 76, var(--box_fade));
    transform: rotateX(180deg) translate3d(-150px,150px,150px);
    top: 0px;
    left: 0px;
}
.side-4{
    background:rgba(255, 255, 76, var(--box_fade));
    transform: rotateX(90deg) translate3d(-150px,0px,300px);
    top: 0px; left: 0px;
}
.side-5{
    background:rgba(76, 255, 255, var(--box_fade));
    transform: rotateY(-90deg) translate3d(0px,-150px,300px);
    top: 0px; left: 0px;
}
.side-6{
    background:rgba(49, 30, 255, var(--box_fade));
    transform: rotateY(90deg) translate3d(0px,-150px,0px);
    top: 0px; left: 0px;
}